bleach==6.2.0
dataclass-wizard==0.27.0
fastapi==0.115.5
langchain-core==0.3.18
langchain-nvidia-ai-endpoints==0.3.7
langchain-openai==0.2.8
langchain==0.3.7
langchain-community==0.3.7
pymilvus==2.4.9
python-multipart==0.0.18
pdfminer-six==20231228
unstructured[all-docs]==0.16.11
gunicorn==23.0.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
PyYAML==6.0.2
splunk-opentelemetry==2.3.0
opentelemetry-instrumentation-fastapi==0.53b1
opentelemetry-instrumentation-logging==0.53b1
opentelemetry-instrumentation-milvus==0.40.6
opentelemetry-instrumentation-openai-v2==2.1b0
git+https://github.com/zhirafovod/opentelemetry-python-contrib.git@instrumentation-genai-langchain#subdirectory=instrumentation-genai/opentelemetry-instrumentation-langchain
