bleach==6.2.0
dataclass-wizard==0.27.0
fastapi==0.115.5
langchain==0.3.21
langchain-core==0.3.80
langchain-nvidia-ai-endpoints==0.3.19
langchain-openai==0.3.35
langchain-community==0.3.20
pymilvus==2.4.9
python-multipart==0.0.18
pdfminer-six==20231228
unstructured[all-docs]==0.16.11
gunicorn==23.0.0
uvicorn[standard]==0.32.0
pydantic==2.9.2
PyYAML==6.0.2
splunk-opentelemetry==2.8.0
opentelemetry-instrumentation-milvus==0.48.1
splunk-otel-instrumentation-langchain==0.1.4
splunk-otel-util-genai==0.1.4